<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/brownies_shop</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<mapping class="model.Category" />
		<mapping class="model.Manufacturer" />
		<mapping class="model.Product" />
		<mapping class="model.HisProduct" />
		<mapping class="model.Account" />
		<mapping class="model.User" />
		<mapping class="model.Order" />
		<mapping class="model.OrderDetail" />
	</session-factory>
</hibernate-configuration>
